{% extends "layout.html" %}
{% import 'macros.html' as macros %}

{% block header %}
  <h1>{% block title %}Category {{category.title}}{% endblock %}</h1>
{% endblock %}

{% block editnav %}
<ul>
  <li><a href="{{url_for('item_add_view', category_id=category.id)}}" class="waves-effect waves-light btn"><i class="material-icons left">add</i>New Item in category {{category.title}}</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12 m4">
        {{ macros.categories_listing(categories, category) }}
    </div>
    <div class="col s12 m8">
        <h2>{{category.title}} items <span class="grey-text">({{category.items|length}} items)</span></h2>
        <div class="collection">
            {% for item in category.items %}
                <a href="{{url_for('item_view', category_title=item.category.title, item_title=item.title)}}" class="collection-item">
                    {{item.title}}
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
