{% extends "layout.html" %}

{% block header %}
  <h1>{% block title %}Item edit{% endblock %}</h1>
{% endblock %}

{% block editnav %}
<ul>
  <li><a href="{{url_for('dashboard')}}" class="waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>Back</a></li>
</ul>
{% endblock %}

{% block content %}

<form action="{{url_for('item_edit_view', category_title=item.category.title, item_title=item.title)}}" method = 'POST'>

<label for="title">Title</label>
<input type='text' size='30' name='title' required value="{{item.title}}">

<label for="description">Description</label>
<textarea class="materialize-textarea" name='description'>{{item.description}}</textarea>

<label for="category">Category</label>
<select name='category_id'>
    {% for category in categories %}
    {% if category.id == item.category.id %}
    <option value="{{category.id}}" selected>{{category.title}}</option>
    {% else %}
    <option value="{{category.id}}">{{category.title}}</option>
    {% endif %}
    {% endfor %}
</select>

<input class="waves-effect waves-light btn" type='submit' value='Update'>
<a class="waves-effect waves-light btn btn-fla" href="{{url_for('item_view', category_title=item.category.title, item_title=item.title)}}">Cancel</a>
</form>


{% endblock %}
