<!doctype html>
<html>
  <head>
    {% block head %}
    {% endblock %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='materialize.min.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='materialize.min.js') }}"></script>
    <script src="{{url_for('static', filename='main.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>{% block title %}{% endblock %} - Item Catalog</title>
  </head>
  <body>
    <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{{url_for('dashboard')}}" class="brand-logo">Item catalog</a>
      <ul class="right hide-on-med-and-down">
        {% if is_authenticated() %}
          <li><div class="userInfo"><img style="height: 100%" src={{user.picture}} alt="" class="circle responsive-img"></div></li>
          <li>{{user.fullname()}}</li>
          <li><a href="{{url_for('logout_view')}}" class="waves-effect waves-light btn">Logout</a></li>
        {% else %}
          <li><a href="{{url_for('login_view')}}" class="waves-effect waves-light btn">Login</a></li>
        {% endif %}
      </ul>

      <ul id="nav-mobile" class="sidenav">
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  {% if is_authenticated() %}
  <nav class="white black-text">
    <div class="nav-wrapper container">
      {% block editnav %}{% endblock %}
      <ul id="nav-mobile" class="sidenav">
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  {% endif %}
  <div class="container">
    {% for message in get_flashed_messages() %}
    <div class="row section">
      <div class="col">
      <span class="new badge" data-badge-caption="">{{ message }}</span>
        </div>
    </div>
    {% endfor %}

    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
  </div>
  </body>
</html>
