{% extends "layout.html" %}


{% block head %}
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://connect.facebook.net/en_US/sdk.js" async defer></script>
<script src="{{url_for('static', filename='google_auth.js')}}"></script>
<script src="{{url_for('static', filename='facebook_auth.js')}}"></script>
<script src="{{url_for('static', filename='github_auth.js')}}"></script>
{% endblock %}

{% block header %}
<h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block content %}

<p class="error"></p>

<div class="oauthButtons">
  <div class="ouathGithub">
    <div id="signinButtonGithub">
      <a class="btn btn-fla" href="https://github.com/login/oauth/authorize?client_id={{github_client_id}}&state={{csrf_token}}">Login with Github</a>
    </div>
  </div>
  <div class="oauthGoogle">
    <div id="signinButton">
        <span class="g-signin"
              data-scope="openid email"
              data-clientid="{{google_client_id}}"
              data-redirecturi="postmessage"
              data-accesstype="offline"
              data-cookiepolicy="single_host_origin"
              data-callback="onGoogleSignIn"
              data-approvalprompt="force">
        </span>
    </div>
  </div>
  <div class="oauthFaebook">
    <fb:login-button
        scope="public_profile,email"
        onlogin="onFacebookSignIn();">

    </fb:login-button>
  </div>
</div>
<script>
    var csrf_token = "{{csrf_token}}";
    var fb_client_id = "{{fb_client_id}}";
</script>

{% endblock %}
