{% extends "layout.html" %}


{% block head %}
    <script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock %}

{% block header %}
  <h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block content %}

    <p class="error"></p>

          <div id="signinButton">
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="{{googleclientid}}"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="onSignIn"
            data-approvalprompt="force">
          </span>
        </div>

<!-- <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div> -->

<!--GOOGLE SIGN IN -->
<script>
  function onSignIn(googleUser) {
    // The ID token you need to pass to your backend:
    var id_token = googleUser['code'];
    var payload = {
        id_token: id_token,
        csrf_token: '{{csrf_token}}'
    };
    $.post("/googlelogin", payload).done(function(data) {
        if ( data ) {
            window.location.href = "/";
        }

    }).fail(function(data) {
        if (data.status === 403) {
            $(".error").html("Something went wrong: " + data.statusText);
        } else {
            $(".error").html("Something went wrong: " + data.responseJSON);
        }
    });
}
</script>
<!--END GOOGLE SIGN IN -->

<!--FACEBOOK SIGN IN -->
<script>

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '281166855790577',
      cookie     : true,
      xfbml      : true,
      version    : 'v3.2'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function sendTokenToServer() {
    var access_token = FB.getAuthResponse()['accessToken'];
    FB.api('/me', function(response) {
     $.ajax({
      type: 'POST',
      url: '/fbconnect?csrf_token={{csrf_token}}',
      processData: false,
      data: access_token,
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
            window.location.href = "/";
        } else {
            $(".error").html("Something went wrong");
        }
      }

  });


    });
  }
</script>

<fb:login-button
  scope="public_profile,email"
  onlogin="sendTokenToServer();">
</fb:login-button>

<!--END FACEBOOK SIGN IN -->


{% endblock %}
