{% macro categories_listing(categories, active_category) -%}
<h2>Categories</h2>
<div class="collection">
    {% for category in categories %}
        {% if active_category and category.title == active_category.title %}
        <a href="{{url_for('dashboard')}}" class="collection-item active">
            <span class="badge">{{category.items|length}}</span>{{category.title}}
        </a>
        {% else %}
        <a href="{{url_for('category_view', category_title=category.title)}}" class="collection-item">
            <span class="badge">{{category.items|length}}</span>{{category.title}}
        </a>
        {% endif %}
    {% endfor %}
</div>
{%- endmacro %}
